#cuerpo {
    background-color: white;
    margin: 20%;
}

#container  {
    background-color: rgb(238, 234, 230);
    align-items: center;
    padding: 35px;
}

#grupo1 {
    text-align: center;
    color: rgb(91, 91, 248);
    padding-bottom: 35px;
}

.row {
    margin: 5px;
}